---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
  {
    name: "Ferramenta",
    // price: {
    //   monthly: "$19",
    //   annual: "$16",
    //   discount: "10%",
    //   original: "$24",
    // },
    price: "Custom",
    popular: false,
    features: [
      "Entrevistas",
      "Seleção das melhores opções",
      "Apoio na contratação",
      "Apoio na implemtenação",
    ],
    button: {
      text: "Contact us",
      link: "/contact",
    },
  },
  {
    name: "Processos",
    price: "Custom",
    popular: false,
    features: [
      "Entrevistas",
      "Mapeamento",
      "Execução",
      "Acompanhamento",
    ],
    button: {
      text: "Contact us",
      link: "/contact",
    },
  },
  {
    name: "Software House",
    price: "Custom",
    popular: false,
    features: [
      "Desenvolvimento",
      "Manuntenção da aplicação",
      "Suporte 24/7",
      "Melhorias constantes",
    ],
    button: {
      text: "Contact us",
      link: "/contact",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Serviços</Fragment>
      <Fragment slot="desc">
        Serviços & Apoios.
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
