---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "CRM's",
    description:
      "Se precisa estreitar o relacionamento com o cliente ou criar um funial de vendas, nós encontramos e implementamos o CRM ideal para a sua empresa.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "ERP's",
    description:
      "Gerencie recursos, finanças e operações de forma integrada e eficaz. Deixe conosco a busca e implementação para você.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Chatbots",
    description:
      "Automatize o atendimento ao cliente 24 horas e melhore a experiência do usuário com nossos chatbots inteligentes.",
    icon: "bx:bx-bot",
  },
  {
    title: "Integrações",
    description:
      "Conecte suas plataformas de forma perfeita e eficiente com nossas soluções de integração. Otimize processos, compartilhe dados e aumente a produtividade da sua equipe.",
    icon: "bx:bx-git-repo-forked",
  },
  {
    title: "Automações",
    description:
      "Agilize seus processos e rotinas diárias com nossas soluções de automação. Reduza erros, economize tempo e aumente a eficiência operacional da sua empresa.",
    icon: "bx:bx-cloud",
  },
  {
    title: "On-Demand",
    description:
      "Desenvolva soluções de software sob medida para suas necessidades específicas com nossa equipe de especialistas.",
    icon: "bx:bx-cool",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Tudo o que seu negócio precisa
  </h2>
  <p class="text-base mt-4 text-slate-600">
    Somos especialistas em diversas tecnologias, processos e ferramentas que vão
    fazer com que sua empresa atinja patamares que você nunca imaginou.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
