---
// @ts-ignore
import { Icon } from "astro-icon/components";
---

<div class="mt-24">
  <h2 class="text-center text-slate-500">Pronto para o que seu negócio precisa</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">

    <Icon class="size-8 md:size-12" name="simple-icons:salesforce" />
    <Icon class="size-8 md:size-12" name="simple-icons:googlecloud" />
    <Icon class="size-8 md:size-12" name="simple-icons:flutter" />
    <Icon class="size-8 md:size-12" name="simple-icons:python" />
    <Icon class="size-8 md:size-12" name="simple-icons:react" />
    <Icon class="size-8 md:size-12" name="simple-icons:vercel" />

  </div>
</div>
